{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <divclass="post">
            <divclass="date">
                {{ post.published_date}}
            </div>  
            <h1><ahref="">{{ post.title}}</a></h1>
            <p>
                {{ post.text|linebreaksbr}}
            </p>
            <!--intruder image -->
            <img src="{{ post.image.url}}" class="rounded intruder-image-list" alt="{{post.title}}">

        <form action="{% url 'post_save' post.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" name="save" value="Save">
            </form>
        
        <form action="{% url 'post_discard' post.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" name="discard" value="discard">
            </form>
        </div>
    {% endfor%}
{% endblock%}


